body {
    background-color: #030303;
    color: #DDD;
}

main {
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

a {
    color: #ffffff;
}

#view_scores, #timer_sec {
    padding: 3px 6px;
    position:fixed;
    top: 0;
}

#view_scores {
    left: 0;
}

#timer_sec {
    display: none;
    right: 0;
    width: 140px;
}